<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Książkomat</title>
</head>
<body>
    <h1>Książkomat</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" action="/">
        <label for="user_input">Wprowadź tekst:</label>
        <input type="text" id="user_input" name="user_input" required>
        <!-- Centered section -->
        <div style="text-align: center;">
            <label for="min_page_count" class="right-align">Min Page Count:</label>
            <input type="number" id="min_page_count" name="min_page_count">
    
            <label for="max_page_count" class="right-align">Max Page Count:</label>
            <input type="number" id="max_page_count" name="max_page_count">
    
            <label for="min_release_date" class="right-align">Min Release Date:</label>
            <input type="date" id="min_release_date" name="min_release_date">
    
            <label for="max_release_date" class="right-align">Max Release Date:</label>
            <input type="date" id="max_release_date" name="max_release_date">
        </div>
        <!-- End of centered section -->
    
        <br> <!-- Add a line break here -->
        <button type="submit">Wyślij</button>
    </form>
    
    

    {% if result %}
        <h2>Results:</h2>
        <ul>
            {% for item in result %}
                <li>
                    <strong>Similarity Measures:</strong> {{ item[0] }} | {{ item[1] }} | {{ item[2] }} | {{ item[3] }}<br>
                    <strong>Title:</strong> {{ item[4] }}<br>
                    <strong>Author:</strong> {{ item[5] }}<br>
                    <strong>Publication date:</strong> {{ item[6] }}<br>
                    <strong>Page count:</strong> {{ item[7] }}<br>
                    <strong>Link:</strong> <a href="{{ item[8] }}" target="_blank">{{ item[4] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
